@{
    ViewData["Title"] = "Home";
}
<section class="login-page" style="display:none;">
    <div class="container mt-5">
        <div class="card-wrapper">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                    <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="player-email-login">Email Address</label>
                            <input id="player-email-login" type="email" class="form-control" name="email" placeholder="sample@example.com" required
                                   autofocus>
                            <div class="invalid-feedback">
                                Email is invalid
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="mb-2 w-100">
                                <label class="text-muted" for="reset-reference">Password</label>
                                <a style="cursor: pointer;" class="float-end" id="reset-reference">
                                    Forgot Password?
                                </a>
                            </div>
                            <input id="player-password-login" type="password" class="form-control" name="password" required>
                            <div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="form-check">
                                <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                <label for="remember" class="form-check-label">Remember Me</label>
                            </div>
                            <button type="button" class="login-button btn btn-primary ms-auto">
                                Login
                            </button>
                        </div>
                        <label class="error-message"></label>
                    </form>
                </div>
                <div class="card-footer py-3 border-0">
                    <div class="text-center">
                        Don't have an account?
                        <button id="register-ref" class="clear-button" onclick="showRegisterPage()" type="button">
                            <u>Register</u>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="registration-page" style="display: none;">
    <div class="container mt-5">
        <div class="card-wrapper">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
                    <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="player-email-registration">E-Mail Address</label>
                            <input type="email" id="player-email-registration" class="form-control" name="email" placeholder="sample@example.com" required>
                            <div class="invalid-feedback">
                                Email is invalid
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="player-password-registration">Password</label>
                            <input type="password" id="player-password-registration" class="form-control" name="password" required>
                            <div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="player-password-repeat-registration">Repeat password</label>
                            <input type="password" id="player-password-repeat-registration" class="form-control" name="password" required>
                            <div class="invalid-feedback">
                                Repeat password is required
                            </div>
                        </div>

                        <p class="form-text text-muted mb-3">
                            By registering you agree with our terms and condition.
                        </p>

                        <div class="align-items-left justify-content-center">
                            <button type="button" class="register-button btn btn-primary ms-auto">
                                Register
                            </button>
                        </div>
                        <label class="error-message"></label>
                    </form>
                </div>
                <div class="card-footer py-3 border-0">
                    <div class="text-center">
                        Already have an account?
                        <button id="login-ref" class="clear-button" onclick="showLoginPage()" type="button">
                            <u>Login</u>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reset-page" style="display: none;">
    <div class="container mt-5">
        <div class="card-wrapper">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h2 class="fs-4 card-title fw-bold mb-2">Reset your password</h2>
                    <div id="password-warning">Strong passwords include numbers, letters, and punctuation marks</div>
                    <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                        <div class="mb-3">
                        <label class="mb-2 text-muted" for="player-email-reset">Email</label>
                        <input id="player-email-reset" type="email" class="form-control" name="email" value="">
                        </div>
                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="player-password-forgotten">Enter forgotten password</label>
                            <input type="password" id="player-password-forgotten" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="player-password-reset">Enter new password</label>
                            <input type="password" id="player-password-reset" class="form-control" name="password" required>
                            <div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="player-password-repeat-reset">Confirm new password</label>
                            <input type="password" id="player-password-repeat-reset" class="form-control" name="password" required>
                            <div class="invalid-feedback">
                                Confirm password is required
                            </div>
                        </div>

                        <div class="py-3 border-0">
                            <button type="button" id="reset-password-button" class="btn btn-primary ms-auto">
                                Reset password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block" style="display: none;">
    <div class="flex-box">
        <div class="flex-item">
            <div class="flex-item-content-todo">
                <div class="flex-container-task">
                    <div class="title">
                        <b>To do</b>
                    </div>
                    <div id="calculatorNew"></div>
                </div>
                <div class="tasks-list-new">
                  
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="flex-item-content-done">
                <div class="flex-container-task">
                    <div class="title">
                        <b>Done</b>
                    </div>
                    <div id="calculatorDone"></div>
                </div>
                <div class="tasks-list-done">
                    
                </div>
            </div>
        </div>

        <div class="flex-item">
            <div class="flex-item-content">
                <div class="title">
                    <b>Create new</b>
                </div>
                <input type="text" class="task-name" placeholder="Buy cat food for Tom" name="task-name">
                <textarea class="task-description"
                    placeholder="And look for an anti-mouse bowl in the store, because Jerry will take everything away from Tom again"></textarea>
                <label for="task-isdone">
                    <input type="checkbox" id="task-isdone" name="task-isdone">
                    Done
                </label>
                <button class="btn btn-primary" id="create-task-button">Create</button>
            </div>
        </div>
    </div>
</section>

<!-- Modal window -->
<section class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editing a task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="div-body">
                    <label class="label-update" for="task-title-update" id="title-update-label">Title</label>
                    <input type="text" id="task-title-update" name="task-title-update">
                </div>
                <div class="div-body">
                    <label class="label-update" for="task-description-update" id="description-update-label">Description</label>
                    <textarea id="task-description-update" rows="4"></textarea>
                </div>
                <div class="div-body">
                    <label for="task-isdone-update" class="label-update">Is it done?</label>
                    <input type="checkbox" id="task-isdone-update">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="save-update" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>