html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.tasks-list-done {
    max-height: 450px;
    overflow-y: auto;
}

.tasks-list-new {
    max-height: 450px;
    overflow-y: auto;
}


header {
    opacity: 50%;
    z-index: -50;
    background: linear-gradient(to bottom right, blue, pink);
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}

.card-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item-content-todo {
    /* background-color: #1E90FF; */
    background-color: lavender;
    width: 385px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.flex-item-content-done {
    width: 385px;
    background-color: lavender;
    border-radius: 8px;
    /* background-color: #008000; */
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.flex-item-content {
    /* background-color: #FFA500; */
    background-color: lavender;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}
.title{
    margin-bottom: 10px;
}

.flex-item {
    width: 350px;
    height: 420px;
}

.task-name {
    width: 300px;
    border: 3px solid white;
    border-radius: 8px;
    margin-bottom: 10px;
}
.task-description {
    width: 300px;
    height: 200px;
    border: 3px solid white;
    border-radius: 8px;
    margin-bottom: 10px;
}
.task-isdone {
    margin-bottom: 10px;
}

.main-block {
    padding-top: 30px;
}

.registration-form{
    display: flex;
    justify-content: center;
}
.player-info {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 8px;
    background-color: #e0dfdf;
    width: 350px;
    height:320px;
    padding: 20px;
}
.player-info input{
    width: 300px;
    margin-bottom: 10px;
}
#title{
    font-size: 22px;
}

.login-form {
    display: flex;
    justify-content: center;
}

#player-info-login {
    height: 250px;
}

.task-box {
    width: 300px;
    height: 105px;
    background-color: white;
    border: 3px solid white;
    border-radius: 8px;
    margin: 5px;
}

.task-box-name{
    font-size: 20px;
    margin-bottom: 3px;
}

.flex-container-buttons {
    display: flex;
    justify-content: end;
    align-self: flex-end;
}

.task-box-description{
    font-size: 14px;
    height: 45px;
}

.delete-task-button {
    text-align: center;
    padding: 0;
    margin-right: 13px;
    width: 20px;
    height: 20px;
    background-color: red;
    line-height: 20px;
}

.checked-task-button {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: blue;
    line-height: 20px;
}

.flex-container-task{
    display: flex;
    flex-direction: row;
}

#calculatorNew, #calculatorDone{
    margin-left: 5px;
}

.wrap-center-middle{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  text-align: center;
  height: 100vh;
}
.modal-window{
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(.9);
  width: 520px;
  max-width: 95%;
  min-height: 200px;
  box-shadow: 0 10px 30px rgba(#000, .2);
  background-color: #fff;
  border-radius: 4px;
  transition: all .18s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
&.show{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}
  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100%;
    min-height: inherit;
}
  &__backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .6);
}
.hidden{
    display: none;
}
